<form (ngSubmit)="onSubmit(loginForm)" #loginForm = "ngForm">
  <h1 class="h3 mb-3 fw-normal">LOGIN</h1>

  <div class="form-floating mb-4">
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" ngModel>
    <label for="email">E-mail</label>
    <span *ngIf="!isLogged" class="text-danger">Usuário e/ou senha inválidos</span>
  </div>
  <div class="form-floating mb-4">
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" ngModel>
    <label for="password">Senha</label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">LOGAR</button>
</form>
